@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header{
  background-image: url(./Assets/Rick.jpg);
}
body{
  height: 100%;
  width: 100%;
  background-color: rgb(27, 24, 24);
  font-family: 'Acme', sans-serif;
}


.app {
  text-align: center;
  min-width: 320px;
  max-width: 1300px;
  margin: 0 auto;
}
.bannerImg_container{
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}
.img-Fond{
  /* height: 300px; */
  /* width: 1300px}; */
  height: auto;
  width: 100%;
}


.title{
  color: white;
  font-size: 35px;
  text-align: center;
  padding-bottom: 25px;
}
.input{
  text-align: center;
}
.UbicationName{
  text-align: center;
  padding-bottom: 50px;

}
.ResidentsP{
  text-align: center; 
  color: whitesmoke;
  padding: 20px;
  font-size: 30px;

}

.Residents{
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px ;

}

.Residents>li{
  color: whitesmoke;
  width: 450px;
  list-style: none;
  background-color: rgb(61, 53, 53);
  border-radius: 20px;
}

.ResidentImg{
  padding: 10px;
  width: 230px;
  padding-right: 20px;
  border-radius: 50%;
}

.flex{
  display: flex;
  /* justify-content: center; */
}

.ResidentsInfo{
  line-height:30px;
  /* padding-top:  */
  padding-top: 25px;
  font-size: 17px;
}

.ResidentsInfo>.p-diferent{
  color: rgb(39, 33, 33);
}



/* location info styles */
.locationInfo{
  min-width: 320px;
  max-width: 920px;
  min-height: 200px;
  margin: 25px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  /* border:2px solid black ; */
  border-radius: 8px;
  background-color: aliceblue;
  background-color: rgb(39, 33, 33);/*No le quito el background anterior para tratar de que no haya conflictos */
  color: whitesmoke;

}
.locationInfo__h1{
  font-size: 40px;
  /* background-color: #61dafb; */
}
.locationInfo__details{
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
  font-weight: 500;

}
.locationInfo__details span{
  display: block;
  margin: 10px ;
}
/* search box styles */
.input{
  /* background-color: #707172; */
  height: 42px;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;


}

.input input{
  width: 70%;
  text-align: center;
  font-size: 25px;
  border-radius: 10px 0 0 10px;
  outline: none;
}
.input input::placeholder{
  text-align: center;
  /* color: blue; */
  font-size: 20px;
}
.input button{
  width: 30%;
  font-size: 20px;

  border-radius: 0 10px 10px 0;

}


@media only screen and (min-width:650px){
  .locationInfo__details{
    text-align: center;
  }
  .locationInfo__details span{
    display: inline;
  
  }

}
@media only screen and (min-width:700px){
  .bannerImg_container{
    height: 300px;
  }
  .img-Fond{
    transform: translateY(-150px);
  }

}
@media only screen and (min-width:900px){
  .img-Fond{
    transform: translateY(-250px);
  }

}