
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* location info styles */
.locationInfo{
  min-width: 320px;
  max-width: 800px;
  margin: 25px auto;
  padding: 10px;
  text-align: center;
  border:2px solid black ;
  border-radius: 8px;

}
.locationInfo__h1{
  /* background-color: #61dafb; */

}
.locationInfo__details{
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;

}
.locationInfo__details span{
  display: block;
  margin: 10px ;

}
/* search box styles */
.input{
  /* background-color: #707172; */
  height: 42px;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;


}

.input input{
  width: 70%;
  text-align: center;
  font-size: 25px;
  border-radius: 10px 0 0 10px;
  outline: none;

}
.input input::placeholder{
  text-align: center;
  /* color: blue; */
  font-size: 20px;

}
.input button{
  width: 30%;
  font-size: 20px;

  border-radius: 0 10px 10px 0;

}


@media only screen and (min-width:650px){
  .locationInfo__details{
    text-align: center;
  }
  .locationInfo__details span{
    display: inline;
  
  }
}